POSTGRES_USER=
POSTGRES_PASSWORD=

AUTH_DB_CONNECTION=
USER_DB_CONNECTION=
CONTENT_DB_CONNECTION=
INTERACT_DB_CONNECTION=

USER_DB_URL=
CONTENT_DB_URL=
INTERACT_DB_URL=

RAWG_API_KEY=
TMDB_API_KEY=
GOOGLE_BOOKS_API_KEY=
Jwt__Key=